#outer-div{
    width:500px;
    height:500px;
    background-color: gray;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
 
}
#outer-div div{
    height:200px;
    width:200px;
}
#inner1
{
    background-color: aqua;
   
}
#inner2{
    background-color: blue;
   
}
#inner3{
    background-color: blueviolet;
}
#inner4{
    background-color: brown;
}
#inner5{
    background-color: white;
}